
  .grid-container{
    display:grid;
    grid-template-columns: 45 45;
    grid-template-rows: auto;
    grid-gap: 5%;

}
#regeln{
  font-size: 1.1rem;
}
.grid-accordion{
  grid-row: 1;
  grid-column: 2;
}

#maze-holder{
  grid-row:1;
  margin-top: 10px;
  
}
.button{
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  
}
.button-large{
  display: none;
}
.button-small{
  display:none
}
@media screen and (max-width: 865px){
  .grid-accordion{
    grid-row: 2;
    grid-column: 1;
  }
  .button-small{
  display: initial;
  width:50%;
  margin-bottom: 1px;}
  .button-large{
    display: inherit;
    width:100%;
    margin-bottom: 1px;
   }
    .grid-container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto ;
        grid-gap: 0%;
    }
    #regeln{
      font-size: 1.1rem;
  }}