
  .grid-container{
    display:grid;
    grid-template-columns: 45 45;
    grid-template-rows: auto;
    grid-gap: 5%;

}
#regeln{
  font-size: 1.1rem;
}
.grid-accordion{
  grid-row: 1;
  grid-column: 2;
}

#maze-holder{
  grid-row:1;
  margin-top: 10px;
}
.button{
  margin-bottom: 10px;
  margin-top: 10px;
}
@media screen and (max-width: 865px){
  .grid-accordion{
    grid-row: 2;
    grid-column: 1;
  }
    .grid-container{
        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: auto auto ;
        grid-gap: 0%;
    }
    #regeln{
      font-size: 1.1rem;
  }}