#background{
    
    height: 80vh;
    width: 100%;

}
.grid-container{
    display:grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
}
@media screen and (max-width: 865px){
    .grid-container{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .Bild{
        grid-row:2
    }}
    #regeln{
        font-size: 1.1rem;
    }